@media (width > 1440px){
    .main-div{
        width: 1420px;
        height: 800px;
    }
    .todo-div{
        width: 541px;
        
    }
    .header-div{
        width: 541px;
    }
    .tasks-div{
        width: 541px;
    }
    .filter-div{
        width:541px
    }
    .items-left{
        width: 521px;
    }
    .background-image{
        display: none;
    }
    .background-image2{
        width: 100%;
    }

}
@media (width <1440px){
    .background-image2{
        display: none;
    }
}